<div style="position:absolute; background-color:#f9f9f9; border:gray 1px solid; width:498px; left:100px; padding:0px 10px 0px 10px;">
	<h1>FormFly</h1>
	<h2>A <%= link_to "Dragonfly", "http://github.com/markevans/dragonfly" %> and <%= link_to "Uploadify", "http://uploadify.com" %> demo for Rails 3</h2>
	<h3><%= link_to "http://github.com/rdetert/FormFly", "http://github.com/rdetert/FormFly" %></h3>
</div>