<% @post.images.each do |image| %>
	<div>
		<%= link_to (image_tag image.data.thumb("200x>").url), image.data.url %>
	</div>
<% end %>

<h1><%= @post.title %></h1>

<div>
	<%= @post.body %>
</div>


<div style="padding-top:50px"><%= link_to "Back to Posts", posts_path %></div>